@import "tailwindcss";

:root {
  --background:#fafafa;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fafafa;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Pecita";
  src: url("/fonts/Pecita.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans.ttf") format("truetype");
  font-weight:400;
  font-style:normal;
  font-display: swap;
}

@font-face {
  font-family: "Questrial";
  src: url("/fonts/Questrial.ttf") format("truetype");
  font-weight:200;
  font-style:normal;
  font-display: swap;
}

@font-face {
  font-family: "Martian Mono";
  src: url("/fonts/MartianMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NaanumPen";
  src: url("/fonts/NaanumPen.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* body {
  font-family: "Pecita", cursive;
} */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}
main {
  background-color: #fafafa;
  min-height: 100vh;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}