/* Overlay */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }

  /* Modal box */
  .modal-box {
    background: #fff;
    width: 520px;
    padding: 40px;
    border: 2px solid #000;
    position: relative;
    font-family: "DM Sans";
  }

  /* Close button */
  .modal-close {
    position: absolute;
    top: 42px;
    right: 16px;
    /* padding-left: 0%; */
    /* margin-left: -50px; */
    background: transparent;
    /* border: 1px solid #000; */
    width: 25px;
    height: 25px;
    margin-right: 18px;
    cursor: pointer;
    color: #000;
  }

  /* Text styles */
  .modal-title {
    font-size: 24px;
    margin-bottom: 60px;
    color: #000;
    font-family: "DM Sans";
  }

  .modal-name {
    font-size: 18px;
    margin-bottom: 6px;
    color: #000;
    font-family: "DM Sans";
  }

  .modal-email {
    font-weight: bold;
    margin-bottom: 6px;
    color: #000;
    font-family: "DM Sans";
  }

  .modal-phone {
    margin-bottom: 24px;
    color: #000;
    font-family: "DM Sans";
  }

  .modal-desc {
    font-weight: 600;
    line-height: 1.5;
    color: #000;
  }