.hero {
  min-height: calc(100vh - 70px);
  padding: 60px 80px;
  position: relative;
  /* background: hsl(0, 0%, 100%); */
  background: #fafafa;
}
.hero-arrow-down{
  margin-top: -100px;
  padding-left: 300px;
}
.hero-arrow-up{
  margin-top: -20px;
  padding-left: 240px;
}
.hero-sidebar{
    position: absolute;
    left: 0;
    top: 0px;
    height: 100px;
    width: 100px;
    filter: grayscale(100%);
}

.hero-left {
  padding-left: 90px;  
  max-width: 600px;
}

.handle {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.title {
  margin-top: -10%;
  /* padding-top: 0px;   */
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 8px;
  color: #000000;
}

.heart {
  /* color: #d11a2a;
  margin-right: 6px; */
  position:absolute;
  width: 74px;
    height: 24px;
    margin-top: -30px;
    margin-left: -60px;
    
}

.subtitle {
  font-size: 20px;
  color: #222;
  margin-bottom: 16px;
  font-family: Questrial;
}

.social {
  display: flex;
  gap: 12px;
  font-size: 12px;
  color: #444;
  font-family: Martian Mono;
  font-weight: bold;
}

.username {
  color: #777;
}

.hero-right {
  padding-top: 80px;  
  position: absolute;
  right: 50px;
  top: 10px;
}

.hero-right img {
  width: 460px;
  height: 470px;
  margin-bottom: 0px;
  margin-top: 10px;
  filter: grayscale(100%);
}

.hero-bottom {
    margin-top: -10px;
    display: flex;
  flex-direction: column; /* KEY LINE */
  align-items: flex-end;
  margin-left: -500px;
  gap: 16px;

}

.skills {
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "DM Sans";
}

.projects-btn {
    font-family: DM Sans;
    color: #000;
  padding: 8px 20px;
  border: 1px solid #000;
  background: transparent;
  cursor:pointer;
}
.pecita {
  font-family: "Pecita", cursive;
}

/* BOTTOM SKILLS */
.herospace{
    padding-left: 50%;
    padding-top: 150px;
}
.hero-bottom {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills {
  font-size: 18px;
  letter-spacing: 1px;
  color: #000;
}

.projects-btn {
  padding: 10px 28px;
  background: transparent;
  border: 1px solid #000;
  cursor: pointer;
  font-size: 14px;
}
