.projects-section {
  background: #fafafa;
  padding: 80px;
}

/* TITLE */
.projects-title {
  font-family: "NaanumPen", cursive;
  font-size: 38px;
  margin-bottom: 40px;
  color: #000;
  margin-left: 120px;

}

/* CAROUSEL LAYOUT */
.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
}

/* SCROLL AREA */
.projects-wrapper {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 40px;
  background: #f1f1f1;
  scrollbar-width: none;
}
/* .projects-wrapper {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  scroll-behavior: smooth;
} */
.projects-wrapper::-webkit-scrollbar {
  display: none;
}

/* CARD */
.project-card {
  width: 280px;       /* FIXED */
  height: 340px;      /* FIXED */
  background: #ffffff;
  border: 1px solid #ddd;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex-shrink: 0;     /* ⭐ VERY IMPORTANT */
}

/* IMAGE */
.project-image {
  height: 180px;     /* FIXED */
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image img {
  width: 150px;
}


/* TEXT */
.project-text {
  font-family: "Martian Mono", monospace;
  font-size: 12px;
  line-height: 1.4;
  color:#000;

  font-weight: lighter;
}

.project-link {
  display: inline-flex;      /* ⭐ KEY: same line */
  align-items: center;       /* vertical alignment */
  gap: 8px;                  /* space between icon & text */
  font-family: "Martian Mono", monospace;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  color: #000;
}

/* ARROWS */
.arrow {
  background: #fff;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
}

.arrow.left {
  margin-right: 10px;
  color: #000;
}

.arrow.right {
  margin-left: 10px;
  color: #000;
}

.project-link img{
    width:35px;
}

.heart img{
    margin-top: 10px;
}

 .her-sidebar{
    position:relative;
    left: 0;
    top: 0px;
    margin-top: 0px;
    height: 100px;
    width: 100px;
    margin-left: -80px;
    filter: grayscale(100%);
} 
